
<style>
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Anton &família= Black+Ops+One & display=swap');
</style>



body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #b5b6bd;
    color: ##000000;
   }
.titulo-destaque {
        color:#9b1111;
        font-size: 36px;
        font-family: 'Anton', sans-serif;
        
.subTitulo{
    color:#000000;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
.apresentacao { 
     margin: 0%;
}
.conteudo{
    width: 600px ;
}
.botaoCadasto{
    display: flex;
    justify-content: space-between;
}
.botaoCadastro{
    background-color: #22d722;
    width: 380px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px;
    text-decoration: nome ;
    color: #000000;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
}