
<style>
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Anton &família= Black+Ops+One & display=swap');
</style>

:root{

    --cor-primaria: #a0a0a0;
    --cor-secundaria:#000000;
    --cor-terciaria: #7e91c7;

}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(cor-primaria)
    
   }
.titulo-destaque {
        color: var(--cor-secundaria)
        font-size: 36px;
        font-family: 'Anton', sans-serif;
        
.subTitulo{
    color:var(--cor-secundaria);
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
.apresentacao { 
     margin: 0%;
}
.conteudo{
    width: 600px ;
}
.botaoCadasto{
    display: flex;
    justify-content: space-between;
}
.botaoCadastro{
    background-color: var(--cor-primaria);
    width: 380px;
    text-align: center;
    border-radius: 16px;
    border-bottom: #22d722;
    font-size: 24px;
    padding: 21.5px;
    text-decoration: nome ;
    color: var(--cor-secundaria);
    font-family: 'Anton', sans-serif;
    font-weight: 600;
}